.App {
  text-align: center;
}

.FooterStyle{
  
  display:flex;
  justify-content: space-between;
  background-color: black;
  color: azure;
  height: 200px;
  align-items: center;
}
ul{
  list-style: none;
  text-align: center;
}
.bg-color{
  background-color: green;
  height: 40px;
  color: white;
  border-radius: 10px;
}
.HomebackgroundImage{
  background-image: url('/src/assets/image3.jpg');
   height: 300px;
   font-weight: bold;
   color: white;
}
.HomebackgroundImage2{
  background-image: url('/src/assets/image3.jpg');
   height: 300px;
  font-weight: bold;
  color:white
}
.HomePagestyling{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 10px;
}
.ImageStyles{
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.LoginPageStyles{
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  border: 1px solid greenyellow;
}
.ProductListstyle{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.CartPaymentBody{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.searchMargin{
  margin: 20px;
}
